/* 
Colors: 
    BLUES #265077 #022140 #494B68 #012c57
    GREENS #2D5F5D #39ff14
*/


.app {
    height: 100vh; 
}
.app .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #fff;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
.app .sections::-webkit-scrollbar {
    display: none;
}
.app .sections >
* {
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}

